{% extends "bootstrap.html" %}
{% block content %}
<div class="row">
	<br/>
	</div>
<div class="row">
	<div class="col-md-2 col-md-offset-4"><b>EncodeID</b></div>
	<div class="col-md-2"><input type="text" id="encodeidinput" name="encodeidinput"></div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-6"><button class="btn btn-primary" id="encodesubmit">Submit</button></div>
</div>


<div class="container hide" id="encodetable">
	<div class="row" id="encodedesc">
	</div>
			
	<div class="row">
		<div class="col-md-2"><b>ID</b></div>
		<div class="col-md-2"><b>File type</b></div>
        <div class="col-md-2"><b>Output type</b></div>
		<div class="col-md-2"><b>File Status</b></div>
		<div class="col-md-1"><b>Techincal Replicate</b></div>
		<div class="col-md-1"><b>Biological Replicate</b></div>
		<div class="col-md-2"><b>Run</b></div>		
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/encode.js"></script>
{% endblock %}

