{% extends "bootstrap.html" %}
{% block header %}
{{ super() }}
<link rel="stylesheet" href="static/css/jquery.fileupload.css">

{% endblock %}
{% block content %}
<form method="post" action="/" enctype="multipart/form-data" accept-charset="utf-8">
	<div class="row vertical-align">
		<div class="col-lg-2 col-lg-offset-4 vcenter">		
			<div class="text-center"><b>Organism</b></div>
		</div>
		<div class="col-lg-2">
			<div class="radio">
				<label><input type="radio" name="genome" value="hg19" checked="checked">Human: hg19</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="genome" value="hg38">Human: hg38</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="genome" value="mm9">Mouse: mm9</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="genome" value="mm10">Mouse: mm10</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="genome" value="dm3">Drosophila: dm3</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="genome" value="ce6">C.elegans: ce6</label>
			</div>  
		</div><!--col radio end-->	
	</div><!--row end-->
		<br/>
	<div class="row vertical-align">
		<div class="col-lg-2 col-lg-offset-6">
			<input type="file" name="file">
			<br/>
			<br/>
		</div><!-- Column end-->
	</div>

	<div class="row vertical-align">
		<div class="col-lg-6 col-lg-offset-6">
			<button type="button" class="btn btn-primary btn-xs"  id="advancedbtn">Advanced Settings>></button>
		</div>		
	</div>
	
	<div class="row vertical-align">
		<div id="advanced" class="hide">
		</div>
		<br/>
		<br/>	
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-lg-offset-6">
			<input type="submit" class="btn btn-primary" name="Submit">
		</div>
	</div>
	
</form>
<br/>
<br/>
	<div class="row vertical-align">
		<div class="col-lg-2 col-lg-offset-4 vcenter">		
			<div class="text-center"><b>History</b></div>
		</div>
		<div class="col-lg-6" id="jobhistory">
			
		</div>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
